
body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #f0f0f0;
  }

  #first_title{
    color: rgb(245, 66, 66);
    font-size: 2rem;
  }

  #second_title{
    color: cornflowerblue;
    font-style: italic;
    font-size: 2rem;
  }
  
  form {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  form h1 {
    color: #000000;
  }

  #deleteUser{
    background-color: #f0f0f0;

    margin: 0 auto;
    border-radius: 5px;

  }

  #delete{
    background-color: red;
    width: 300px;
    transition: .5s ease;
  }

  #delete:hover{
    background-color: rgb(255, 69, 69);
  }

  label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="password"], input {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    align-content: center;
  }

  select {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #3ab0ff;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s ease;
  }

  input[type="submit"]:hover{
    background-color: #66c2ff;
  } 
  

  header {
    background-color: #333;
    color: #fff;
  }
  
  header img {
    float: left;
    margin-right: 20px;
    height: 4.95rem;
  }
  
  header h1 {
    display: inline-block;
    margin: 0;
    padding: 20px;
    font-size: 2rem;
  }
  
  body {
    background-color: #f4f4f4; /* steel gray background */
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #ffffff; /* light blue text for headings */
  }
  
  .big_container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    box-shadow: 2px 2px 8px #888;
    border-radius: 10px;
    padding: 0px 20px;
    margin: 50px auto;
    width: 850px
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 2px 2px 8px #888;
    border-radius: 10px;
    padding: 0px 20px;
    width: 400px;
    margin: 50px auto;
    height: fit-content;
  }

  .title {
    background-color: #333;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 5px;
  }

  .highlight {
    color: #000000;
    font-weight: bold;
  }
    
    
  .home{
    justify-self: right;
    float: right;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    cursor: pointer;
    height: 50px;
    padding-top: 13px;
  }
  
  .home:hover{
    opacity: .5;
  }
  

  .logo {
    background-color: #aaa; /* steel gray background for logo */
    padding: 10px; /* add some padding to the logo */
    border-radius: 50%; /* round the edges of the logo */
  }
  
 

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333; /* dark background color */
    color: #fff; /* white text color */
    padding: 20px; /* add some padding */
    text-align: center; /* center the text */
  }
  
  a {
    color: #fff; /* white text color for links */
    transition: .5s ease;
  }
  
  a :hover {
      color: rgb(0, 191, 255);
  }
